---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/atoms/Button.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("proyectos"))
  .filter((p) => p.data.publishedAt)
  .sort((a, b) => b.data.publishedAt!.getTime() - a.data.publishedAt!.getTime());

const latestProject = projects[0];
const restProjects = projects.slice(1);
---

<Layout>
  <section class="mx-layout relative my-10 flex flex-col">
    <h1 class="text-titles-2 text-primary font-bold">Portafolio de proyectos completados</h1>
    <!-- Latest project -->
    <div class="relative mt-6 flex flex-col gap-4 py-2 md:flex-row md:items-stretch md:gap-10">
      <div class="max-h-125 w-full pl-2 md:w-[40%]">
        <img class="h-full w-full rounded-lg object-cover" src={latestProject.data.image} alt={latestProject.slug} />
      </div>
      <div class="text-primary flex w-full flex-col items-start justify-center gap-4 md:w-[60%]">
        <h2 class="text-titles-2 font-bold">{latestProject.data.title}</h2>
        <div class="flex items-center gap-6">
          <p class="flex items-center gap-2">
            <i class="inline-flex w-[30%] items-center"><img src="/icons/calendar.svg" alt="calendar icon" /></i>{
              latestProject.data.duration
            }
          </p>
          <p class="flex items-center gap-2">
            <i class="inline-flex w-[20%] items-center"><img src="/icons/location.svg" alt="location icon" /></i>{
              latestProject.data.location
            }
          </p>
        </div>
        <p class="text-paragraph">{latestProject.data.description}</p>
        <Button href={`/proyectos/${latestProject.slug}`}>Leer mas</Button>
      </div>
    </div>
  </section>
  <section class="mx-layout relative mb-10">
    <!-- Rest of projects -->
    <div class="grid grid-cols-2 gap-6 md:grid-cols-3">
      {
        restProjects.map((project) => (
          <a href={`/proyectos/${project.slug}`} class="text-primary group flex w-full flex-col gap-2">
            <div class="overflow-hidden">
              <img
                class="aspect-video h-auto w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
                src={project.data.image}
                alt={project.slug}
              />
            </div>
            <h3 class="text-md font-bold md:text-lg">{project.data.title}</h3>
            <p class="text-xs md:text-sm">{project.data.description}</p>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
