---
const { title, description, details, index } = Astro.props;
---

<div
  class="servicio relative h-screen w-full bg-cover bg-fixed bg-center bg-no-repeat"
  style={`background-image: url('/services/${index + 1}.webp')`}
>
  <div class="absolute"></div>
  <div
    class="mx-layout absolute flex h-full w-[90%] flex-col justify-center space-y-6 md:w-[60%] md:space-y-12 lg:w-[45%]"
  >
    <h2 class="text-titles">{title}</h2>
    <div class="mt-48 flex items-center gap-2 md:mt-0">
      {
        details.map((detail: any) => (
          <div class="flex h-full w-[33%] flex-col items-center space-y-4 bg-black/50 p-0 py-2 text-center backdrop-blur-sm duration-200 hover:bg-black md:p-2">
            <img
              src={`/icons/${detail.icon}.svg`}
              alt={`${detail.icon} icon`}
              class="h-7.5 w-auto object-contain md:h-10"
            />
            <p class="text-xs md:text-sm">{detail.description}</p>
          </div>
        ))
      }
    </div>
    <p class="text-sm">{description}</p>
  </div>
</div>
